<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/detail2.css}">
</head>
<body>
<div layout:fragment="content">
	<h1>[[${board.subject}]]</h1>
	<div>
		<img th:src="${board.url}" style="width:300px">
	</div>
	<div>
		[[${board.content}]]
	</div>
	<div th:each="answer : ${board.answerList}">
		<span th:text="${answer.content}"></span>
		<span th:text="${answer.member.getUsername}"></span>
		<span th:text="${answer.createDate}"></span>
	</div>
	<form th:action="@{|/answer/create/${board.idx}|}" th:object="${answerForm}" method="post">
	
	<div role="alert" th:if="${#fields.hasAnyErrors()}">
	<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
	</div>
		<div>
			<textarea rows="30" cols="50" th:field="*{content}"></textarea>
		</div>
		<div>
			<input type="submit" value="제출하기">
		</div>
	</form>
</div>
</body>
</html>