<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/detail2.css}">
</head>
<body>
<div layout:fragment="content">

        <div class="seoul">
            <div>서울 등산 관련정보</div>
            <div> <a id="blackyark">(블랙야크 100대 명산기준)</a></div>
        <ul>
            <li>
                <a href="detail3.html"><img/ src="../static/img/mountain4.jpg" alt="" ></a>
            </li>
            <li>
                <ul>
                    <li><a href="/bokhan/mountain">이름: 북한산</a></li>
                    <li>위치: 서울 종로</li>
                    <li>높이: 836m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/북악산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 북악산</li>
                    <li>위치: 서울 종로</li>
                    <li>높이: 338m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/인왕산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 인왕산</li>
                    <li>위치: 서울 종로</li>
                    <li>높이: 338m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/관악산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 관악산</li>
                    <li>위치: 서울 관악</li>
                    <li>높이: 632m</li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="gyeonggi">
            <div>경기도,인천 등산 관련 정보</div
                >
        <ul>
            <li>
                <img/ src="../static/mountain/축령산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 축령산</li>
                    <li>위치: 경기 남양</li>
                    <li>높이: 887m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/백운산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 백운산</li>
                    <li>위치: 경기 포천</li>
                    <li>높이: 904m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/감악산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 감악산</li>
                    <li>위치: 경기 파주</li>
                    <li>높이: 675m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/화악산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 화악산</li>
                    <li>위치: 경기 가평</li>
                    <li>높이: 1468m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/화악산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 소요산</li>
                    <li>위치: 경기 동두천</li>
                    <li>높이: 587m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/운악산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 운악산</li>
                    <li>위치: 경기 포천</li>
                    <li>높이: 934m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/명지산.png" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 명지산</li>
                    <li>위치: 경기 가평</li>
                    <li>높이: 1267m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/마니산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 마니산</li>
                    <li>위치: 인천 강화</li>
                    <li>높이: 462m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/유명산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 유명산</li>
                    <li>위치: 경기 가평</li>
                    <li>높이: 862m</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <img/ src="../static/mountain/용문산.jpg" alt="">
            </li>
            <li>
                <ul>
                    <li>이름: 용문산</li>
                    <li>위치: 경기 가평</li>
                    <li>높이: 1157m</li>
                </ul>
            </li>
        </ul>
    </div>
    </main>
    <footer>
        <div class="footerline">
            <hr>
        </div>
        <span class="logo2">
            <img/ src="../static/img/logo.png">
        </span>
        <div class="re">태경컴퍼니Ⓡ 경기도 고양시 000 000 000<br>옥빛 산악회 회원 모집 010-0000-000<br> ㅎㅎ<br> ㅎㅎ</div>
        <div class="social-media">
            <img/ src="../static/img/facebook.jpg">
            <img/ src="../static/img/instargram.jpg">
            <img/ src="../static/img/KakaoTalk.jpg">
        </div>
    </footer>
    </div>
</body>
</html>